<mat-grid-list [cols]="columns.length" [style]="{'min-width': this.gridMinWidth}" rowHeight="1:1">
  @for(col of columns; track col.name + col.id) {
      <mat-grid-tile>
        <app-editable [text]="col.name" (onChange)="this.onEditColName($event, col)">
          <h3>{{ col.name }}</h3>
          <mat-icon aria-hidden="false" class="remove" fontIcon="close" (click)="this.onDeleteColumn(col)"></mat-icon>
        </app-editable>
        
        <section class="ticket-list">
          @for(ticket of tickets[col.id]; track ticket.title + ticket.id) {
            <app-ticket
              [ticket]="ticket"
              (onDeleteTicket)="this.onDeleteTicket($event)"
              (onEditTicket)="this.onEditTicket($event)"
            ></app-ticket>
          }
        </section>

        <button mat-flat-button class="create-ticket-button" (click)="this.onCreateTicket(col.id)">Create Ticket</button>
      </mat-grid-tile>
  }

  <a (click)="this.onTelegram()" class="telegram-share-button">
    <img src="/telegram-icon.png" alt="telegram share icon">
  </a>
  <button class="create-column" (click)="this.onCreateColumn()" mat-flat-button>Create new column</button>

</mat-grid-list>
